@font-face {
    font-family: modern-farmhouse;
    src: url(modern-farmhouse.woff2);
}

h1, ul {
    margin: 0;
    padding: 0;
}

html {
    background: #400140;
    color: white;

    font-family: modern-farmhouse;

    font-size: 32px;
}

h1 {
    color: yellow;

    font-size: 200%;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

li img {
    position: relative;
    top: 5px;
    margin-right:5px;
    }
