@font-face {
    font-family: modern-farmhouse;
    src: url(modern-farmhouse.woff2);
}

h1, h2, ul, p {
    margin: 0;
    padding: 0;
}

h1 img {
    height: 50px;
}

html {
    background: #400140;
    color: white;

    font-family: modern-farmhouse;

    font-size: 32px;
}

h1 {
    color: yellow;

    font-size: 300%;
    letter-spacing: 2px;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

li img {
    position: relative;
    top: 5px;
    margin-right:5px;
    }


li > a:has(img):has(h2) {
    display: flex;
}
li a img {
    margin-right: 30px;
    width: 280px;
    height: 158px;
    object-fit: contain;
}
li + li {
    margin-top: 20px
}

body > img:first-child {
    border: 3px solid black;
}
